/*
Added: 05.07.17
Reference: http://arnique.net/web-design/58/a-quick-guide-to-changing-bootstraps-gutter-width/
*/

// 20px gutter
.gutter-20.row {
    margin-right: -10px;
    margin-left: -10px;
}
.gutter-20 > [class^="col-"], .gutter-20 > [class^=" col-"] {
    padding-right: 10px;
    padding-left: 10px;
}
// 10px gutter
.gutter-10.row {
    margin-right: -5px;
    margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

// 05px gutter
.gutter-05.row {
    margin-right: -2px;
    margin-left: -2px;
}
.gutter-05 > [class^="col-"], .gutter-05 > [class^=" col-"] {
    padding-right: 2px;
    padding-left: 2px;
}

// 0px gutter
.gutter-0.row {
    margin-right: 0;
    margin-left: 0;
}
.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"]{
    padding-right: 0;
    padding-left: 0;
}
