/* 
    Created on : May 3, 2018, 12:49:08 AM
    Author     : gsalim
*/

.hero {
    /*    font-family: 'Poppins', sans-serif;
        font-weight: lighter;*/
    /*margin: 0 -15px;*/
    height: 50vh;
    background: url(../img/hero.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    padding: 0 -15px;
    margin: 0 -15px;
}

.login-panel{
    height: 75%;
    width: 80%;
    margin: 80px auto 0 auto;
    -webkit-box-shadow: 0px 3px 50px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 50px 3px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 50px 3px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.logo {
    /*width: 35%;*/
    height: 10vh;
    margin: 6% auto 0 auto;
    /*margin-top: 40px auto;*/
}

.wrapper {
    margin: 63px auto;
    padding: 0 20px;
}

.login-form {
    /*margin-top: 30px;*/
    margin: auto 20%;
    div{
        input{
            font-size: 15px;
            border-color: #069d52;
            height: 40px;
        };
        label{
            font-size: 15px;
            font-weight: 400;
            padding-bottom: 5px;
        }
    }
}
.forget-font{
    font-weight: 400;
}
.custom-control.material-checkbox {
    color: #069d52;
}
.custom-control.material-checkbox .material-control-input {
    display: none;
}
.custom-control.material-checkbox .material-control-input:checked ~ .material-control-indicator {
    border-color: #069d52;
    -webkit-transform: rotateZ(45deg) translate(1px, -5px);
    transform: rotateZ(45deg) translate(1px, -5px);
    width: 10px;
    border-top: 0px solid #fff;
    border-left: 0px solid #fff;
}
.custom-control.material-checkbox .material-control-indicator {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #999999;
    transition: .3s;
}
.material-control-description{
    margin-left: 5px;
    color: black;
}

.buttons {
    margin-top: 30px;
    margin-bottom: 10vh;
}

.l-btn {
    width: 100%;
    border: 0;
    height: 40px;
    border-radius: 23px;
    font-size: 15px;
    font-weight: bold;
    background: #069d52;

    &:hover {
        background-color: #fac824;
        color: #069d52;
    }
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    body{
        padding: 0;
        margin: 0;
    }
    .forget-font{
        font-size: 12px;
        font-weight: 400;
    }
    .forget {
        text-align: left;
    }
    .buttons {
        margin-bottom: 0;
    }
    .logo {
        width: 50%;
    }

    .wrapper {
        margin: 40px auto;
        padding: 0 25px;
    }

    .card {
        min-height: 400px;
    }

    .login-form {
        margin: 0;
    }

    .login-panel{
        width: 90%;
    }
}

