<p class="page-bar text-center">{{pageHeader}}</p>

<div class="input-form">
    <div class="row">
        <div class="col-md-4 col-lg-offset-4">
            <div class="row gutter-05">
                <div class="col-md-12 remove-both-margin margine-top5">
                    <div class="input-group">
                        <span class="input-group-addon align-padding width130">Login ID</span>
                        <input class="form-control text-center" readonly="true" placeholder="Login ID / Email ID" ng-model="userData.ID">
                        <span class="input-group-btn">
                            <button class="btn btn-default align-padding width40" type="button" disabled><i class="fa fa-user"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 remove-both-margin margine-top5">
                    <div class="input-group">
                        <span class="input-group-addon align-padding  width130">Mobile</span>
                        <input class="form-control text-center" readonly="true" minlength="10" placeholder="Mobile No" ng-model="userData.CONTACT">
                        <span class="input-group-btn">
                            <button class="btn btn-default align-padding width40" type="button" disabled><i class="fa fa-mobile-phone"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 remove-both-margin margine-top5">
                    <div class="input-group">
                        <span class="input-group-addon align-padding width130">Old Password</span>
                        <input class="form-control text-center" minlength="6" type="password" placeholder="Old Password" ng-model="userData.OLD_PASS">
                        <span class="input-group-btn">
                            <button class="btn btn-default align-padding width40" type="button" disabled=""><i class="fa fa-pencil"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 remove-both-margin margine-top5">
                    <div class="input-group">
                        <span class="input-group-addon align-padding width130">New Password</span>
                        <input class="form-control text-center" minlength="6" type="password" placeholder="New Password" ng-model="userData.NEW_PASS">
                        <span class="input-group-btn">
                            <button class="btn btn-default align-padding width40" type="button" disabled><i class="fa fa-pencil"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 remove-both-margin margine-top5">
                    <div class="input-group">
                        <span class="input-group-addon align-padding width130">Confirm Password</span>
                        <input class="form-control text-center" minlength="6" type="password" placeholder="Confirm Password" ng-model="userData.CONFIRM_PASS">
                        <span class="input-group-btn">
                            <button class="btn btn-default align-padding width40" type="button" disabled><i class="fa fa-pencil"></i></button>
                        </span>
                    </div>
                </div>

                <div class="col-md-12 remove-both-margin text-center margine-top10">
                    <button class="btn btn-primary align-padding width130" type="button" ng-click="changePassword()">Change Password</button>
                    <button class="btn btn-success align-padding width130" type="button" ng-click="loginAgain()">Login Again</button>
                </div>

            </div>        
        </div>
    </div>
</div>